@charset "utf-8";

html {
  font-size: 62.5%; /* 1rem -> 10px */
}

body {
  font-family: '맑은 고딕', 'Malgun Gothic';
  font-size: 1.6rem;
  line-height: 1.4;
}

.size1 {
  
}
.size1_1 {
  font-size: 20px;
}

/* 4가지 타입 */

/* Laptop & Tablet landscape */
@media all and (min-width:1024px) and (max-width:1279px) {
  
}

/* Tablet landscape */
@media all and (min-width:768px) and (max-width:1023px) {
  
}

/* Mobile landscape & Tablet portrait */
@media all and (min-width:480px) and (max-width:767px) {
  
}

/* Mobile portrait */
@media all and (max-width:479px) {
  
}

/* 3가지 타입 */

/* laptop & PC */
@media all and and (max-width:1024px) {
  
}

/* Mobile portrait & Tablet landscape */
@media all and (min-width:768px) and (max-width:1023px) {
  
}

/* Mobile portrait & Mobile landscape */
@media all and (max-width:767px) {
  
}