:root {
  --white: #fff;
  --black: #000;
  --gray: #999;
  --gray-bd: #d9d9d9;
  --gray-bg: #f7f7f7;
  --blue: #0093d0;
  --green: #41b549;
  --yellow: #ffd900;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  padding: 30px;
}

/* step */
.step {
  display: flex;
  overflow: hidden;
  & li {
    position: relative;
    flex: 1;
    height: 50px;
    /* border: 1px solid var(--gray-bd); */
    text-align: center;
    line-height: 50px;
    /* color: var(--gray); */
    background-color: var(--gray-bd);
    &::after {
      content: "";
      position: absolute;
      top: -2px;
      right: -16px;
      width: 50px;
      height: 50px;
      border: solid var(--white);
      border-width: 0 5px 5px 0;
      background: var(--gray-bd);
      transform: rotate(-45deg);
      z-index: 10;
    }
    &:last-child::after {
      display: none;
    }
  }
  .active {
    border-color: var(--blue);
    font-weight: 700;
    color: var(--white);
    background-color: var(--blue);
    &::after {
      background-color: var(--blue);
    }
  }
  .other & {
    margin-top: 20px;
    .active {
      background-color: var(--green);
      &::after {
        background-color: var(--green);
      }
    }
  }
  &.type {
    margin-top: 20px;
    .active {
      color: var(--black);
      background-color: var(--yellow);
      &::after {
        background-color: var(--yellow);
      }
    }
  }
  @media (width < 767px) {
    & li {
      background-color: red;
    }
  }
}